<style>
  .post-form-container {
    margin: auto;
    max-width: 800px;
  }

  label {
    font-size: 20;
    color: balck;
    padding : 10px;
  }
  input[type = submit]{
    background : rgb(113, 165, 255);
    font-size: 19px;
    border : none;
    border-radius: 5px;
    padding : 10px;
  }
  input[type = submit]:hover{
background: rgb(183, 239, 255);

  }
  input[type="text"],textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;

  }
  textarea{
    width : 800px;
    height : 500px;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }

</style>


</div>
<a href="{{url_for('main.home')}}"><li class="btn-primary nav-link current">Home</li></a>
<a href="{{url_for('blogs.dashboard')}}"><li class="btn-primary nav-link current">Dashboard</li></a>
<div class="post-form-container">
  <form method="POST" enctype="multipart/form-data" action="">
    {% if parameter=='index'%}
    <h3>Some Guidelines for index page</h3>
    <ul>
      <li>You must set the Slug = index </li>
      <li>You must set the to_redirect to the page you want to redirect (This is ususally a predefined page made by the admin) </li>
      <li>You must have a Proper Title</li>
      <li>You must attach a photo</li>
      <li>You must attach a photo</li>
      <li>A clear subtitle is recommended(must). make sure it clarifies the title within 75 chacters</li>
      <li>You dont need a content for index page. it is covered by the to_redirect</li>

    </ul>
   {% endif %}
    {% if parameter=='articles'%}
    <h3>Some Guidelines for <strong>Articles</strong></h3>
    <ul>
      <li>You must set the Slug = <strong>blog</strong> </li>
      <li>The <strong>Others1</strong> field must be set as <strong>article</strong></li>
      <li>You must have a Proper Title</li>
      <li>You must attach a photo</li>
      <li>Set the <strong>Subject Title</strong> to <strong>none</strong></li>
      <li>You must attach a photo</li>
      <li>A clear subtitle is recommended(must). make sure it clarifies the title within 75 chacters</li>
      <li>Write a proper blog and use predefined classes to style the blog content</li>

    </ul>
   {% endif %}
    {% if parameter=='note'%}
    <h3>Some Guidelines for <strong>Notes</strong></h3>
    <ul>
      <li>You must set the Slug = <strong>note_topic</strong> </li>
      <li>You must have a Proper Title</li>
      <li>Set the <strong>Subject Title</strong> to <strong>none</strong></li>
      <li>Write a proper blog and use predefined classes to style the blog content</li>
      <li>Fill up the custom made pdf link in the content section</li>
      <p><strong>Use this format for the pdf</strong></p>
      <div style="max-width: 400px;background: rgb(209, 209, 209);border-radius :10px ;padding : 10px; overflow: hyphens">

        <code >
        &lt;div  style="width: 100%; height: 600px; position: relative;"&gt;
      <br>
      <br>
          &lt;iframe src="https://drive.google.com/file/d/1ujBCj1r60WhwL59AgoaDPT1UR1gdHJcJ/preview"   width="100%" height="600px" frameborder="0" seamless=""&gt;&lt;/iframe&gt;
      <br>
      <br>
          &lt;div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;&lt;/div&gt;
          &lt;/div&gt;
        </code>
      </div>


    </ul>

   {% endif %}
    {% if parameter %}
    <p>Post a set on {{parameter}}</p>
   {%else%}

    <p>Post page</p>
    {% endif %}
    <h1> You are making {{parameter}}</h1>
    {{ form.hidden_tag() }}
    <br />
    {{form.title.label()}} {{form.title()}}
    <br />
    {{form.slug.label()}} {{form.slug}}
    <br />
    {{form.subject_title.label()}} {{form.subject_title}}
    <br />
    {{form.content.label()}} {{form.content()}}
    <br />
    {{form.note_grade.label()}}
    {{form.note_grade}}
    <br>
    
    {{form.subtitle.label()}} {{form.subtitle}}
    <br />
    <input value = 'def.png' name="pic" type="file" />
    <br />
    {{form.to_redirect.label()}} {{form.to_redirect}}
    <br />
    <br>
    {{form.topic.label}}
    {{form.topic}}
    <br>

    {{form.others1.label()}}
    <br>
   {{form.others1}}
    <br>
    <br>
    {{form.others2.label()}}
    <br>
   {{form.others2}}
    <br>
    {{form.price.label()}} {{form.price}}
    <br />
    {{ form.submit(class="btn btn-outline-info") }}
  </form>
  <br>
  <!-- {% for post in posts  %}
  <a class = 'btn-for-dashboard' href="{{url_for('blogs.update_post',post_id=post.id)}}">Post and Continue Editing</a>
  {% endfor %} -->
</div>

