
//initial test
$primary-background : white;
$primary-button : rgb(49, 74, 112);
$primary-font : 'Poppins', sans-serif;
$header-font : 'Poppins ', sans-serif;
$primBtnColor : #5ea1c0;
$sid-feat-foot: linear-gradient(135deg, #0b166f 0%, #00686d 100%);
$line-color-1 : #b7d3dc;